<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>quot-E: {% block title %}{% endblock %}</title>
</head>
<body>
    <!--navbar-->
    <div class="navbar navbar-dark bg_theme_dark navbar-expand-sm fixed-top" style="opacity: 0.9;">
        <div class="container">
            <a href="/" class="navbar-brand fs-3 fw-light">
                <img src="static/images/quote_logo.png" alt="quot-E logo" width="40" height="40" class="align-top">
                quot-<span class="fw-semibold">E</span>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                {% if session["user_id"] %}
                    <ul class="navbar-nav text-center ms-auto">
                        <li class="nav-item">
                            <a href="/clean" class="nav-link">Clean</a>
                        </li>
                        <li class="nav-item">
                            <a href="/format" class="nav-link">Format</a>
                        </li>
                        <li class="nav-item">
                            <a href="/logout" class="nav-link">Logout</a>
                        </li>
                    </ul>
                {% else %}
                    <ul class="navbar-nav text-center ms-auto">
                        <li class="nav-item">
                            <a href="/clean" class="nav-link">Clean</a>
                        </li>
                        <li class="nav-item">
                            <a href="/format" class="nav-link">Format</a>
                        </li>
                        <li class="nav-item">
                            <a href="/login" class="nav-link">Login</a>
                        </li>
                        <li class="navitem">
                            <a href="/register" class="nav-link">Register</a>
                        </li>
                    </ul>
                {% endif %}
            </div>
        </div>
    </div>

    <!--navbar space-->    
    <section class="bg_theme_paper" style="height: 68px"></section>

    
    <!--Flash message-->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
            <div class="alert mb-0 text-center {{ category }}" role="alert">
                {% if category == "flash_error" %}
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle flex-shrink-0 me-2" viewBox="0 0 16 16">
                        <path d="M7.938 2.016A.13.13 0 0 1 8.002 2a.13.13 0 0 1 .063.016.146.146 0 0 1 .054.057l6.857 11.667c.036.06.035.124.002.183a.163.163 0 0 1-.054.06.116.116 0 0 1-.066.017H1.146a.115.115 0 0 1-.066-.017.163.163 0 0 1-.054-.06.176.176 0 0 1 .002-.183L7.884 2.073a.147.147 0 0 1 .054-.057zm1.044-.45a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566z"/>
                        <path d="M7.002 12a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 5.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995z"/>
                    </svg>
                {% else %}
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-check2-circle flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Success:">
                        <path d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0z"/>
                        <path d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l7-7z"/>
                    </svg>
                {% endif %}
                <span class="align-bottom">
                    {{ message }}
                </span>
            </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <main>
        {% block main %}{% endblock %}
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
<footer>
    <div class="text-center p-4" style="background-color: rgba(0, 0,0, 0.05);">
        <i class="me-2 bi bi-emoji-smile"></i>Created for a <span class="fw-semibold">CS50 Final Project</span> 
        <h1></h1>
        <a href="/credit">Credits</a>
    </div>
</footer>
</html>